[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
proselint = "*"
mdformat = "*"
linkcheckmd = "*"
unmarkd = "*"
requests = "*"
markpickle = "*"
antimarkdown = "*"
html5lib-to-markdown = "*"


[dev-packages]

[requires]
python_version = "3.11"
